
// Colors

$color-primary: #bc412b;
$color-secondary: #39f;
$color-background: #fff;
$color-on-background: #000;
$color-link: $color-primary;
$color-link-hover: $color-secondary;

// Variables

$percent-sidebar: 25%;


// Default settings

body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	font-family: Avenir,Verdana,sans-serif;

	margin-top: 1em;
	margin-left: 1em;

	text-align: left;
}

// Title

h1 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	font-size: 3em;
}


// Left side Headers

h2 {
	color: $color-primary;
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	font-size: 1.5em;
}

h3 {
	color: $color-on-background;
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	font-size: 1.1em;
}

// Other Headings

h4 {

}


// Top bar links

a {

	text-decoration: none;
	color: $color-link;

	&:hover {

		color: $color-link-hover;
	}
}
