
// Colors

$color-primary: #bc412b;
$color-secondary: #39f;
$color-background: #fff;
$color-on-background: #000;
$color-link: $color-primary;
$color-link-hover: $color-secondary;

// Variables

$percent-sidebar: 20%;
$percent-gap: 3%;


// Useful base classes

%left-side-content {
	position: relative;
	width: $percent-sidebar - $percent-gap;
	text-align: right;

	right: $percent-gap;
	top: 1em;
}

%right-side-content {
	position: relative;
	left: $percent-sidebar;
	width: 100% - $percent-sidebar - $percent-gap;
}

%header {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	margin-top: 1em;
}


// Simple reset

* {
	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


// Default settings

body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;

	font-family: Avenir,Verdana,sans-serif;

	margin: 2em;
}


// Title

h1 {
	@extend %right-side-content;
	@extend %header;
	font-size: 3em;
}


// Subtitle

h1+p {
	font-style: italic;
	font-size: 1.25em;
	margin-top: 1em;
}


// Left side Headers

h2 {
	@extend %left-side-content;
	@extend %header;
	color: $color-primary;
	font-size: 1.5em;
}

h3 {
	@extend %left-side-content;
	@extend %header;
	color: $color-on-background;
	font-size: 1.1em;
}


// Other Headings

h4 {
	@extend %right-side-content;
	left: $percent-sidebar;

	//font-weight: 800;

	font-weight: bold;
	margin-top: 1em;

	code {
		font-size: 90%;
		font-family: Monaco,Menlo,monospace,sans-serif;
		font-weight: normal;
		color: #aaa;

		position: absolute;
		text-align: right;
		right: $percent-gap;
	}
}


// Content

p {
	@extend %right-side-content;
	margin-bottom: 0.5em;
}

ul {
	@extend %right-side-content;
	list-style: none;
	columns: 3;

	li {
		padding-left: 1em;
		text-indent: -1em;
		margin-bottom: 0.25em;
	}
}


// Top bar links

a {

	padding-top: 3em;
	text-decoration: none;
	color: $color-link;
	font-family: Monaco,Menlo,monospace,sans-serif;

	&:hover {

		color: $color-link-hover;
	}
}
